*{
  padding: 0;
  margin: 0;
}
html,body
{
  width: 100vw;
  height: 100%;
}
body{
  font-size: 1rem;
  font-family: 'open_sansregular';
}
body h2{
  font-family: 'open_sanssemibold';
  margin-bottom: 20px;
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
nav
{
  height: 64px;
  color: #fff;
  background-color: #35a4e5;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
nav .nav-container
{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: block;
}
nav .nav-container .logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  text-decoration: none;
  margin-top: 10px;
}
nav .nav-container ul {
  padding-left: 0;
  list-style-type: none;
  float: right!important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: 0 5px;
}
nav .nav-container ul li
{
  margin: 0 5px;
}
nav .nav-container ul li, nav .nav-container ul li a
{
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
nav .nav-container ul li a img
{
  display: block;
  width: 20px;
}
main{
  margin-top: 80px;
}
.modal{
  display: block;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 60vw;
  height: 50vh;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out all;
  transform-origin: center center;
  opacity: 0;
}
.modal-in
{
  z-index: 99999;
  transform:translate(-50%, -50%);
  transform-origin: center center;
  opacity: 1;
}
.modal-overlay
{
  z-index: 99998;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out all;
  cursor: pointer;
}
.container
{
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
#sidebar
{
  width: 20vw;
  max-width: 250px;
  margin: 20px 5px;
  display: block;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  position: relative;
  padding: 30px;
  max-height: 300px;
}
#sidebar ul
{
  list-style-type: none;
}
#sidebar ul li{
  text-transform: capitalize;
  cursor: pointer;
}
#content
{
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  width: 80vw;
  max-width: 800px;
  justify-content: space-around;
}
#content .product-card
{
  max-width:250px;
  margin: 20px 5px;
  display: block;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  position: relative;
}
#content .product-card img
{
  width: 100%;
  display: block;
  height: 180px;
  object-fit: contain;
  margin: 20px 0;
}
#content .product-card .card-content
{
  padding: 20px;
}
#content .product-card .card-content .product-title{
  margin: 0;
  display: block;
  font-size: 0.8rem;
  height: 35px;
  display: flex;
  align-items: center;
}
#content .product-card .card-content p{
  margin: 0;
  display: block;
}
#content .product-card .product-discount {
  position: absolute;
  top: 20px;
  right: 0;
  width: 80px;
  text-align: right;
  padding: 5px 4px;
  padding-right: 15px;
  background-color: #e53935;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
}
#content .product-card .card-content .product-category {
  font-style: italic;
  font-size: 0.8rem;
  color: #989898;
  text-align: right;
  padding-bottom: 10px;
  text-transform: uppercase;
}
#content .product-card .card-content .add-to-cart {
  align-items: center;
  display: flex;
  border-top: 1px solid #d4d4d4;
  margin-top: 20px;
}
#content .product-card .card-content .btn {
  text-decoration: none;
  color: #fff;
  background-color: #43a047;
  text-align: center;
  letter-spacing: .5px;
  transition: background-color .2s ease-out;
  cursor: pointer;
  display: block;
  font-size: 14px;
  outline: 0;
  border: none;
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  width: 55px;
  margin-left: auto;
}
#content .product-card .card-content .add-to-cart {
  align-items: center;
  display: flex;
  border-top: 1px solid #d4d4d4;
  margin-top: 10px;
  padding: 10px 0;
}